@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.youtube {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.tituloYoutube {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    font-size: 37px;
    margin: 50px auto;
    border-bottom: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
}

.videoYt {
    width: 1024px;
    height: 700px;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {

    .youtube {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .tituloYoutube {
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        font-family: 'Black Ops One', cursive;
        font-size: 37px;
        margin: 50px auto;
        border-bottom: 2px solid rgb(255, 0, 0);
        border-radius: 5px;
    }
    
    .videoYt {
        width: 256px;
        height: 175px;
        border-radius: 10px;
    }  

}